@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/css/main.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <h1>Redis Cinema</h1>
                @Html.Partial("~/Views/Partial/_SeatPartial.cshtml")
  
            <hr />
            <div>
                <ul class="rig columns-4">
                    @RenderBody()
                </ul>
            </div>
            <hr />
        </div>
    </div>

   
</body>
</html>