
@{
    Layout = null;
}
<!DOCTYPE html>
<style>
    div {
        margin-top: 10px;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <input type="button" value="Add a Desk" onclick="AddDesk()" />
    <input type="button" value="Add a Seat" onclick="checkSeat()" />

    <div id="addDesk">
        @using (Html.BeginForm("AddDesk", "Admin", FormMethod.Post))
        {
            <input type="text" name="Id" id="Id" placeholder="Desk Id" /><br />
            <input type="text" name="Name" id="Name" placeholder="Desk Name" /><br />
            <input type="submit" value="Add Desk" id="addDeskClick" />
        }
    </div>
    <div id="checkSeat">
        @using (Html.BeginForm("checkSeatId", "Admin", FormMethod.Post))
        {
            <input type="text" name="Id" id="Id" placeholder="Seat Id" /><br />
            <select name="DeskId" id="DeskId">
                @{
                    if (ViewBag.desks != null)
                    {
                        foreach (var item in (List<RedisCinema.Model.Desks>)ViewBag.desks)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                    else
                    {
                        <option value="0">Please add a desk</option>
                    }
                }
            </select>
            <input type="submit" value="Koltuk Seç" />
        }
    </div>


    <script type="text/javascript">
        hideDivs();
        function AddDesk() {
            hideDivs();
            document.getElementById('addDesk').style.display = 'block';
        }
        function checkSeat() {
            hideDivs();
            document.getElementById('checkSeat').style.display = 'block';
        }
        function hideDivs() {
            var divs = document.getElementsByTagName('div');
            for (var i = 0; i < divs.length; i++)
                divs[i].style.display = "none";
        }
    </script>
</body>
</html>